.content{
  padding: 2rem;
  text-align: center;
  font-size: 1.1rem;
}
.content .special-heading{
  color: #ebeced;
  font-size: 50px;
  font-weight: 900;
  margin: 0;
  letter-spacing: -2px;
}
.form-login{
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  width: 30%;
  margin: 4rem auto;
  padding: 1rem;
  background-color: #fff;
  border-radius: 2rem;
}
.form-login form{
  padding: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.form-login form input{
  height: 40px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #3b5d50;
  color: black;
}
.form-login form input:focus{
  outline: none;
}
.form-login form input::placeholder{
  color: #3b5d50;
}
.form-login .login-btn{
  padding: 0.5rem 2rem;
  font-size: 1.1rem;
  color: #2f2f2f;
  border: 1px solid #2f2f2f;
  border-radius: 1rem;
  margin-bottom: 1rem;
}
.form-login .login-btn:hover{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.form-login a{
  text-decoration: none;
}
